#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h2 {
  margin: 0px 0px 80px 0px;
}

.flip-switch {
  margin-bottom: 10px;
}

.email {
  display: flex;
  justify-content: center;
  align-items: center;

  .email-text {
    width: fit-content;
  }

  .email-input {
    margin-left: 20px;
    width: 200px;
  }

}

.key-output {
  margin-top: 50px;

  .key {
    background-color: #242424;
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
  }
}
